{{>header}}
{{>slidebar}}

<div id = 'content-board' class="display-board">
     <div class="content-wrapper-header">
        <p> View Task </p>
    </div>

    <div class="col-lg-12 board-main-content" >
        <div class="row board-main-row">
            <div class="col-md-12">
    			<div class="callout callout-info">
	    			<div class="col-md-12">
	    				<div class="row board-main">
    						<div class="col-sm-6">
    							<dl>
                                    <dt><b class="border-bottom border-primary">Task Name</b></dt>
                                    <dd>{{task.taskName}} </dd>
                                    <dt><b class="border-bottom border-primary">Description</b></dt>
                                    <dd>					{{task.descriptionTask}}							</dd>
    							</dl>
					        </div>

    						<div class="col-md-6">
                                <dl>
                                    <dt><b class="border-bottom border-primary">Start Date</b></dt>
                                    <dd>{{task.startDate}}</dd>
                                </dl>
                                <dl>
                                    <dt><b class="border-bottom border-primary">End Date</b></dt>
                                    <dd>{{task.endDate}}</dd>
                                </dl>
                                <dl>
                                    <dt><b class="border-bottom border-primary">Status</b></dt>
                                    <dd>
                                        <span class="badge badge-primary">{{task.status}}</span>								</dd>
                                </dl>
                                <dl>
                                    <dt><b class="border-bottom border-primary">Leader</b></dt>
                                    <dd>
                                        <div class="d-flex align-items-center mt-1">
                                          {{!--   <img class="img-circle img-thumbnail p-0 shadow-sm border-info img-sm mr-3" src="" alt="Avatar"> --}}
                                            <b>{{users}}Lan Anh Hoang</b>
                                        </div>
                                    </dd>
							    </dl>
					    	</div>  
				    	</div>
			    	</div>
			    </div>
	    	</div>
        </div>

        <div class="row detail-task">
            <div class="col-md-4 ">
                <div class="card card-outline card-primary detail-task-col1">
                    <div class="card-header">
                        <span><b>Team Member/s:</b></span>
                        <div class="card-tools">
                            <!-- <button class="btn btn-primary bg-gradient-primary btn-sm" type="button" id="manage_team">Manage</button> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="users-list clearfix">
                            <li>Tran Gia Bao</a>
                                        <!-- <span class="users-list-date">Today</span> -->
                            </li>
                            <li>Le Bao Ngoc</a>
                                        <!-- <span class="users-list-date">Today</span> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="card card-outline card-primary detail-task-col2">
                    <div class="card-header">
                        <span><b>Detail Task List:</b></span>
                        <div class="card-tools" style="float: right;">
                            <a class="btn btn-primary bg-gradient-primary btn-sm" type="button" id="new_task" data-toggle="modal" data-target="#add-detail-task"><i class="fa fa-plus" ></i> New Detail Task</a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-condensed m-0 table-hover">
                                <colgroup>
                                    <col width="5%">
                                    <col width="25%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr><th>#</th>
                                    <th>Detail Task</th>
                                    <th>Performer</th>
                                    
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr></thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class=""><b>Write header report</b></td>
                                        <td class=""><b>Le Bao Ngoc</b></td>
                                        
                                        <td>
                                            <span class="badge badge-primary">On-Progress</span>			                       
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-default btn-sm btn-flat border-info wave-effect text-info dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                                            Action
                                            </button>
                                            <div class="dropdown-menu" style="">
                                                <a class="dropdown-item view_task" href="javascript:void(0)" data-id="{{this._id}}" data-task="new task" data-toggle="modal" data-target="#view-detail-task">View</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item edit_task" href="javascript:void(0)" data-id="{{this._id}}" data-task="new task" data-toggle="modal" data-target="#edit-detail-task">Edit</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item delete_task" href="javascript:void(0)" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-detail-task">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{!-- Add detail Task --}}

<div class="modal fade" id="add-detail-task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: none !important;">
       <form action="/tasks/taskdetail/store" method="POST" class="form" id="form-1" style="margin: 0; padding: 5px 24px;">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Task Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <p class="desc"></p>
              
              
		   <div class="form-group">
                <label for="taskDetailId" class="form-label">Detail Task ID</label>
                    <input type="text" class="form-control inputTask" id="taskDetailId" name="taskDetailId">
             </div>

                    <div class="form-group">
                        <label for="taskDetailName" class="form-label">Detail Task Name</label>
                        <input type="text" class="form-control inputTask" id="taskDetailName" name="taskDetailName">
                    </div>

                    <div class="form-group">
                        <label for="description" class="form-label">Detail Task Description </label>
                        <textarea type="text" class="form-control inputTask" id="description" name="description" style="height: 100px;"> </textarea>
                    </div>

                    <div class="form-group">
                        <label for="userId" class="form-label">Performer</label>
                        <input type="text" class="form-control inputTask" id="userId" name="userId">
                    </div>

                    <div class="form-group">
                        <label for="status" class="form-label">Status</label>
                        <select name="status" id="status" class="custom-select custom-select-sm" style="    border: 1px solid #ced4da;border-radius: .25rem;box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%); height: 35px;">
                            <option value="Started">Started</option>
                            <option value="On-Progress">On-Progress</option>
                            <option value="Done">Done</option>
                        </select>
                    </div>
               
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submit" >Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
        </form>
    </div>
  </div>
</div>

{{!-- View Detail Task --}}
<div class="modal fade" id="view-detail-task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 60%; !important; max-width: none !important;">
    <div class="modal-content" style="background-color: none !important; max-width: none !important;">
      <div class="modal-dialog modal-md mid-large" role="document" style="margin: 0; max-width: none !important;">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Task Details</h5>
      </div>
      <div class="modal-body"><div class="container-fluid">
	<dl>
		<dt><b class="border-bottom border-primary">ID</b></dt>
		<dd>TD123456</dd>
	</dl>
    <dl>
		<dt><b class="border-bottom border-primary">Name</b></dt>
		<dd>Write header report</dd>
	</dl>
    <dl>
		<dt><b class="border-bottom border-primary">Performer</b></dt>
		<dd>Le Bao Ngoc</dd>
	</dl>
	<dl>
		<dt><b class="border-bottom border-primary">Status</b></dt>
		<dd>
			<span class="badge badge-primary">On-Progress</span>		</dd>
	</dl>
	<dl>
		<dt><b class="border-bottom border-primary">Description</b></dt>
		<dd>Done before Sunday</dd>
	</dl>
</div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>

{{!-- Edit Detail Task --}}
<div class="modal fade" id="edit-detail-task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: none !important;">
       <form action="" method="POST" class="form" id="form-1" style="margin: 0;">
           <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Task Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <p class="desc"></p>
              
		   <div class="form-group">
                <label for="taskDetailId" class="form-label">Detail Task ID</label>
                    <input type="text" class="form-control inputTask" id="taskDetailId" name="taskDetailId" value="TU123456">
             </div>

                    <div class="form-group">
                        <label for="taskDetailName" class="form-label">Detail Task Name</label>
                        <input type="text" class="form-control inputTask" id="taskDetailName" name="taskDetailName" value="Write header report">
                    </div>

                    <div class="form-group">
                        <label for="description" class="form-label">Detail Task Description </label>
                        <textarea type="text" class="form-control inputTask" id="description" name="description" style="height: 100px;">Done before Sunday</textarea>
                    </div>

                    <div class="form-group">
                        <label for="userId" class="form-label">Performer</label>
                        <input type="text" class="form-control inputTask" id="userId" name="userId" value="Le Bao Ngoc">
                    </div>

                    <div class="form-group">
                        <label for="status" class="form-label">Status</label>
                        <select name="status" id="status" class="custom-select custom-select-sm" style="    border: 1px solid #ced4da;border-radius: .25rem;box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%); height: 35px;">
                            <option value="Started">Started</option>
                            <option value="On-Progress">On-Progress</option>
                            <option value="Done">Done</option>
                        </select>
                    </div>
               
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submit" >Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
        </form>
    </div>
  </div>
</div>

{{!-- Confirm Delete Detail Task --}}
<div id="delete-detail-task" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Task Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this task detail? .</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
        <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<style>
    
    .task, #item-menu-task {
    background-color: #f0f0f0 !important; 
    color: #4c7ebf !important;
  }

    .board-main-row {
        margin: 25px 20px 20px 30px;
        background: #fff;
        padding: 20px 30px;
        color: rgb(33, 37, 41);
        border-radius: .25rem;
        border: 1px solid #c2c2c2;
        display: inline-block;
        border-top: 3px solid #28a745;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    }
    .board-main {
        display: flex;
    }
    .board-main-content {
        display: grid;
    }

    .detail-task {
        display: flex;
        
    }

    .detail-task-col1,.detail-task-col2  {
        color: rgb(33, 37, 41);
        border-radius: .25rem;
         border-top: 3px solid #28a745;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        
    }
    .detail-task-col1{
        margin: 25px 0px 20px 30px;
    }

    .detail-task-col2 {
        margin: 25px 20px 20px 0px;   
    }
    margin: 25px 20px 20px 30px;

    .card-header {
        background-color: #fff;
    }

    .badge-primary{
    color: #fff;
    background-color: #007bff;
    }
    .users-list li {
        list-style-type: none;
    }
    .users-list-name {
        color: #000;
        text-decoration: none;
    }
    
    .dropdown-menu {
        margin: 40px 70px 0 0;
    }
</style>

{{!-- <script>
	$(document).ready(function(){


	$('.summernote').summernote({
        height: 200,
        toolbar: [
            [ 'style', [ 'style' ] ],
            [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
            [ 'fontname', [ 'fontname' ] ],
            [ 'fontsize', [ 'fontsize' ] ],
            [ 'color', [ 'color' ] ],
            [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
            [ 'table', [ 'table' ] ],
            [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
        ]
    })
     })
    
    $('#manage-task').submit(function(e){
    	e.preventDefault()
    	start_load()
    	$.ajax({
    		url:'ajax.php?action=save_task',
			data: new FormData($(this)[0]),
		    cache: false,
		    contentType: false,
		    processData: false,
		    method: 'POST',
		    type: 'POST',
			success:function(resp){
				if(resp == 1){
					alert_toast('Data successfully saved',"success");
					setTimeout(function(){
						location.reload()
					},1500)
				}
			}
    	})
    })
</script> --}}