{{>header}}
{{>slidebar}}
<div id= 'wrapper-id' class="content-wrapper">
            <div class="content-wrapper-header">
                <p> Home </p>
            </div>

            <div class="content-wrapper-content">
                <div class="session-welcome">
                    Welcome Lan Anh Hoàng!{{user.fullName}}
                </div>

                <div class="session-main">
                    <div class="project-progress">
                        <div class="project-pro-header">
                            Project Progress
                        </div>
                        <div class="project-pro-body">
                            <table class="project-progress-list">
                                <colgroup>
                                    <col width="5%">
                                    <col width="30%">
                                    <col width="35%">
                                    <col width="15%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr><th>#</th>
                                    <th>Project</th>
                                    <th>Manager</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr></thead>
                                <tbody>
                                    {{#each project}}

                                    <tr>
                                        <td>{{sum @index 1}}</td>
                                        <td>
                                            <a>
                                               {{this.projectName}}                          
                                            </a>
                                            <br>
                                                Due: <small> {{this.dueDate}}</small>
                                        </td>
                                        <td class="project_manager">
                                            <span class="">{{this.projectManagerName}}</span>  
                                        </td>
                                        <td class="project-state">
                                            <span class="badge badge-primary">{{this.statusName}}</span>                      
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/projects/show/{{this.slug}}">
                                                <i class="ti-folder"></i>
                                                View
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="total">
                        <div class="total-projects">
                            <div class="inner">
                                <a href="/projects/list" class="text-total-link">
                                    <h3 class="count">{{totalProject}}</h3>
                                </a>
                                <p class="text-total">Total Projects</p>
                            </div>
                            <div class="icon">
                                <i class="ti-receipt"></i>
                            </div>
                        </div>
                        <div class="total-employees">
                            <div class="inner">
                                <a href="/issues/list" class="text-total-link">
                                    <h3 class="count">{{totalIssue}}</h3>
                                </a>
                                <p class="text-total">Total Issues</p>
                            </div>
                            <div class="icon">
                                <i class="ti-list"></i>
                            </div>
                        </div>
                        <div class="total-employees">
                            <div class="inner">
                                <a href="/users/list" class="text-total-link">
                                    <h3 class="count">{{totalUser}}</h3>
                                </a>
                                <p class="text-total">Total Users</p>
                            </div>
                            <div class="icon"> 
                                <i class="ti-user"></i>
                            </div>                            
                        </div>

                    </div>
                </div>
                
            </div>
 </div>

<style>
    #dashboard, #item-menu {
        background-color: #f0f0f0 !important; 
        color: #4c7ebf !important;
    }

   
    
  
</style> 


